.lg-btn {
    color: @btn-text;
    background-color: @btn-background;
    border: .2rem solid @btn-border;
    width: 25rem;
    height: 4rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin: 4rem 0;
    border-radius: @btn-radius;
    transition: .5s;

    &:hover {
        color: @btn-background;
        background-color: @btn-border;
        cursor: pointer;
    }
}

.card-btn {
    text-align: center;
    text-transform: uppercase;
    background-color: @btn-background;
    border: .2rem solid @btn-border;
    width: 15rem;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: @btn-radius;
    color: @btn-text;
    transition: .5s;

    &:hover {
        color: @btn-background;
        background-color: @btn-border;
        cursor: pointer; 
    }
}
