ion-icon {
    font-size: @icon-med;
  }

ion-icon {
    color: @icon-color;
}

.icon-fill {
    background-color: @icon-color;
    border: .2rem solid @icon-color;
    color: white;
    padding: 1rem;
    border-radius: 4rem;
}

#burger {
    .icon-fill;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);

    &:hover {
        cursor: pointer;
    }
}

#cart {
    font-size: @icon-lg;

    &:hover {
        cursor: pointer;
    }
}

#close {
    color: white;
    border: .2rem solid white;
    padding: 1rem;
    border-radius: 4rem;

    &:hover {
        cursor: pointer;
        color: @main-color;
        border: .2rem solid @main-color;
    }
}

