.left {
    text-align: left;
}

.border-radius(@radius: 4px) {
    border-radius: @radius;
}

.btn-size(@width; @height) {
    width: @width;
    height: @height;
}

.btn-color(@color: @btn-text; @background-color: @btn-background) {
    color: @color;
    background-color: @background-color;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    justify-content: center;
    flex-wrap: wrap; 
}

.container-width {
    max-width: 1200px;
    width: 90%;
}