@nav-height: 13rem;
@base-url: "http://127.0.0.1:5501/website/";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4%;
    height: nav-height;
}

nav > div {
    text-align: center;
}


.burger {
    cursor: pointer;
}

#close {
    color: white;
}

.nav-window {
    padding: 0;
    margin: 0;
    background-image: url("@{base-url}/images/mtn.jpeg");
    color: white;
    position: absolute;
    right: 0px;
    top: 0rem;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: .5s ease-out;
    opacity: 0;
}

.nav-active {
    transform: translateX(0);
    transition: .5s ease-in;
    transition: .5s ease-out;
    opacity: 1;
}

.nav-window > div {
    height: 13rem;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 3%;
}


.nav-links ul {
    padding: 0;
    margin: 0;
}
.nav-links li {
    list-style-type: none;
    margin: 0rem 0 5rem 0;
}

.nav-links li a {
    color: white;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:3.6rem;
}

@keyframes nav-link-fade {
    from {
        opacity: 0;
        transform: translate(1rem)
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

